@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #000000;;
  color: #FFFFFF;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1em; }
h5 { font-size: 0.8em; }
h6 { font-size: 0.7em; }

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  font-style: normal;
}

.lists {
  margin-top: -170px;
}

footer {
  margin: 50px 0;
  text-align: center;
}

footer span {
  color: #ff0000;
  font-size: 24px;
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}